body {
	background: skyblue;
}

.wrap {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


ul {
	list-style: none;
	position: relative;
	text-align: center;
}

li:first-letter {
	text-decoration: underline;
	font-weight: bold;
}