#wrap {
	background-color: violet;
	display: flex;

}
#nav {
	display: flex;
	float: left;
	padding: 20px;
	flex-direction: column;
	background-color: purple;
}

#content{
	
	text-align: center;
}


#content ul {
	list-style: none;
}