 
section{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}


ul{
    list-style: none;
    /* display: flex; */
    /* justify-content: space-around; */
    position: fixed;
    /* border: greenyellow double 5px; */
    float: left;
}

a:link {
    color: red;
  }
  
a:visited {
    color: green;
  }
  

a:hover {
    color: hotpink;
  }
  
a:active {
    color: blue;
  }


form{
    color: rgb(43, 255, 0);
}

header{
    margin-bottom: 100px;
}

.title{
    text-align: center;
    letter-spacing: 20px;
    font-weight: bold;
    font-style: oblique;
}

.history{
    width: 200px;
    width: 250px;
    border: dodgerblue double 5px;
}
img{
    width: 40px;
    height: 40px;
   display: flex;
   justify-content: space-around;
   position: static;
   

}
img:hover{
        -webkit-transform: rotateZ(-720deg);
        -ms-transform: rotateZ(-720);
        transform: rotateZ(-720);
        transition: 4s ease;
        width: 500px;
        height: auto;
        }


.article{
    text-align: center;
    margin: 0 27%;
    border: green dotted 5px;
    margin-bottom: 10%;
}

h3{
    letter-spacing: 10px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

#pano:hover{
    width: 1000px;
    transition-duration: 3s;
    height: 250px;
    transition-duration: 3s;

}

#profile{
    background-image: url(Profile-1.jpg);
    background-size: 1200px;
    float: left;
    display: flex;
    
}
audio{
    color: green;
}

h4{
    color: green !important;
    letter-spacing: 10px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    

}

@media (max-width:500px) {
    section {
      width: 200px;
    }
    html{
        max-width: 600px;
        font-size: x-large;
    }
    .img{
        display: flex;
        flex-direction: column;
        position: static;
        align-items: center;
        
    }

img{
   visibility: hidden;
}
#pano:hover{
    width: 100%;
    transition-duration: 3s;
    height: auto;
    transition-duration: 3s;
   animation: backwards;

}
ul{
    list-style: none;
    /* display: flex; */
    /* justify-content: space-around; */
    position: fixed;
    border: greenyellow double 5px;
}
.info{
        /* letter-spacing: 10px; */
        font-weight: bold;
        /* font-style: oblique; */
        /* border-radius: 6px; */
        padding: 0;
        margin: 0;
        text-decoration: underline;
        font-size: x-small;
    }
    #profile{
        background-image: url(Profile-1.jpg);
        background-size: cover;
    }

}