html{
    background-image: url(1.jpg);
    /* background-size: cover; */
    background-repeat: repeat;
    color: rgb(43, 255, 0);
    position: static;
    
}
body{
    position: relative;
    
}
section{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}


ul{
    list-style: none;
    /* display: flex; */
    /* justify-content: space-around; */
    position: fixed;
    border: greenyellow double 5px;
    float: left;
}

a:link {
    color: red;
  }
  
a:visited {
    color: green;
  }
  

a:hover {
    color: hotpink;
  }
  
a:active {
    color: blue;
  }


form{
    color: rgb(43, 255, 0);;
}

header{
    margin-bottom: 100px;
}

.title{
    text-align: center;
    letter-spacing: 20px;
    font-weight: bold;
    font-style: oblique;
}

.history{
    width: 200px;
    width: 250px;
    border: dodgerblue double 5px;
}
.img{
   display: flex;
   justify-content: space-around;
   position: static;
   

}
img:hover{
    width: 500px;
    height: 400px;
    transition-duration: 1s;
    overflow: visible;
}

.article{
    text-align: center;
    margin: 0 27%;
    border: green dotted 5px;
    margin-bottom: 10%;
    /* width: 200px; */
}

h3{
    letter-spacing: 10px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

#pano:hover{
    width: 1000px;
    transition-duration: 3s;
    height: 250px;
    transition-duration: 3s;

}

#profile{
    background-image: url(Profile-1.jpg);
    background-size: 1200px;
}

h4{
    color: rgb(43, 255, 0);
    letter-spacing: 10px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 6px;
    padding: 0;
    margin: 0;
}


 @media (max-width:500px) { 
    section {   
      width: 200px;
    }
    html{
        max-width: 500px;
        font-size: x-large;
    }
    .img{
        display: flex;
        flex-direction: column;
        position: static;
        align-items: center;
        
    }

img:hover{
    width: 100%;
    height: auto;
    transition-duration: 1s;
    overflow: visible;
    animation: forwards;
}
#pano:hover{
    width: 100%;
    transition-duration: 3s;
    height: auto;
    transition-duration: 3s;
   animation: backwards;

}
ul{
    list-style: none;
    /* display: flex; */
    /* justify-content: space-around; */
    position: fixed;
    border: greenyellow double 5px;
    
}
.article{
    text-align: center;
    margin: 0 27%;
    border: green dotted 5px;
    margin-bottom: 10%;
    width: 200px;
}
}